* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
body p{
    margin-bottom: 0;
}

.mgr-10{
    margin-right: 10px;
}
.mgb{
    margin-bottom: 10px;
}
.mgb-18{
    margin-bottom: 18px;
}
.sub-head {
    font-size: 12px;
    color: #898080;
}

.rd-10 {
    border-radius: 10px;
}
.dp-flex{
    display: flex;
}
.fl1{
    flex: 1;
}

.padding {
    padding: 16px 16px;
}
.bd-left {
    border-left: 1px solid #7c6b6b;
}
.bd-bt{
    border-bottom: 1px solid #7c6b6b ;
}
.black {
    background-color: #000;
    padding: 8px;
    color: #898080;
    font-size: 12px;
    border-radius: 10px;
    width: fit-content;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.bg-color {
    background-color: #2f2b2b;
}

.container {
    background-color: #000;
    max-width: 700px;
    margin: 0 auto;
}

.content {
    padding: 24px;
}

.head {
    display: flex;
    gap: 18px;
    margin-bottom: 18px;
}

.avt {
    flex: 1;
}

.avt img {
    width: 100%;
    height: 100%;
    background-color: none;
    border-radius: 10px;
}

.head-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.head-content-name {
    padding: 8px 16px;
    background-color: #2f2b2b;
    font-size: 16px;
    flex: 3;
    display: flex;
    align-items: center;
    text-align: justify;
}

.interest-detail {
    display: flex;
    flex: 1;
    justify-content: space-around;
    border-left: 1px solid #7c6b6b;
}

.head-content-interests {
    display: flex;
    align-items: center;
    background-color: #2f2b2b;
    padding: 8px 16px;
    border-radius: 10px;
    justify-content: space-between;
    flex: 1;
}

.head-content-interests p {
    margin-right: 10px;
}

.interest-gaming i {
    width: 15px;
    color: white;
}

.experience {
    display: flex;
    gap: 18px;
    margin-bottom:18px ;
}

.experience .box {
    flex: 1;
}

.box {
    background-color: #2f2b2b;
}

.box-content {
    position: relative;
}

.box-content .box-head {
    padding-bottom: 14px;
    border-bottom: 1px solid #fff;
}

.box-head .black {
    position: absolute;
    top: 0;
    right: 0;
}

.box-list .fs-12 {
    margin-top: 14px;
    list-style-position: inside;
    line-height: 18px;
}

.tools {
    display: flex;
    gap: 18px;
}

.icons img {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    object-fit: cover;
    margin: 0 10px;
}

.tool-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 18px;
}

.tool-right {
    flex: 1;
}
.design{
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;
}
.editing{
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;
}
.languages{
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;
}
.icons.bd-left{
    display: flex;
}
.school .box-head{
    padding: 0 0 10px 0;
    position: relative;
}
.diploma .box-head{
    padding: 10px 0;
    position: relative;
}
.graduation .box-head{
    padding: 10px 0 0 0;
    position: relative;
}
.diploma .box-head .black{
    top: 10px;
}
.graduation .box-head .black{
    top: 10px;
}
.portfolio .interest-gaming{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio .interest-gaming img{
    margin: 0 5px;
}
.interest-gaming .icons{
    display: flex;
}